@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 5, 16;
    --background-end-rgb: 5, 5, 16;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Animation for Delayed Post */
@keyframes broadcast-sequence {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  5% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  90% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) translateX(450px); /* Move right towards timeline */
  }
}

.animate-broadcast {
  animation: broadcast-sequence 10s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
